.CitiesSettings {
    position: fixed;
    top:0;
    left: 0;
    width: 80%;
    height: 100%;
    background-image: url(/asset/images/bg@3x.png);
    background-size: cover;
}

.navigator_add{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: rgba(50,50,50,0.4);
    height: 50px;
}

.add_button, .add_button:hover{
    border: none;
    height: 50px;
    width: 50px;
    background-color: rgba(50,50,50,0.1);
}

.selected_cities_list {
    width: 100%;
    margin-top:50px;
}


