html,body{ 
margin:0px; 
height:100%; 
} 
body{position: relative; width: 100%;overflow:scroll;overflow-x:hidden}
.container{position: relative; width: 100%; height: 100%}
.page1{position: absolute; -webkit-transform: translate3d(0, 0, 0); width: 100%; height: 100%; background-attachment: fixed;}
.page2{position: absolute; -webkit-transform: translate3d(-100%, 0, 0); width: 100%; height: 100%; background-attachment: fixed;}
.page3{position: absolute; -webkit-transform: translate3d(-200%, 0, 0); width: 100%; height: 100%}
.activeL{-webkit-transform: translate3d(100%, 0, 0);
         -webkit-transition: cubic-bezier(0.42, 0, 0.58, 1) 0.1s;
         }
.activeR{-webkit-transform: translate3d(0, 0, 0);
         -webkit-transition: cubic-bezier(0.42, 0, 0.58, 1) 0.1s;
         }
.activeA{-webkit-transform: translate3d(200%, 0, 0);
         -webkit-transition: cubic-bezier(0.42, 0, 0.58, 1) 0.1s;
         }
.grad {
        background: -webkit-linear-gradient(#E6E6E6, #FFFFFF); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(#E6E6E6, #FFFFFF); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(#E6E6E6, #FFFFFF); /* Firefox 3.6 - 15 */
        background: linear-gradient(#E6E6E6, #FFFFFF); /* 标准的语法 */
        font-size: 20px;
}
.widthC{width: 90%; 
        align: center;
        background-color: #A6BFDB;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -o-border-radius: 5px;
        -moz-border-radius: 5px;
        padding:15px;
      }
.color-white{color:#EEE; opacity: 0.6;}
.mrg-top{margin-top: 15px;}
.ft-size{font-size:20px;}
.page1bg{ background: -webkit-linear-gradient(top,rgba(81,178,251,1),rgba(164,212,246,1))}
.showdata{background-color: rgba(98, 137, 214,0.3);  margin: auto; width: 75%; text-align: center;  border-radius: 20px; margin-top: 13%;}
.showfont{color: white; font-size: 350%;}
.fontmd{color: white; font-size: 250%; display:block;}
.fontsm{color: black; font-size: 150%; display:block;}